@font-face {
    font-family: 'Good Dog';
    src: url('fonts/GoodDog-webfont.eot');
    src: url('fonts/GoodDog-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/GoodDog-webfont.woff') format('woff'),
         url('fonts/GoodDog-webfont.ttf') format('truetype'),
         url('fonts/GoodDog-webfont.svg#gooddogregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Surface';
    src: url('fonts/Surface_Medium-webfont.eot');
    src: url('fonts/Surface_Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Surface_Medium-webfont.woff') format('woff'),
         url('fonts/Surface_Medium-webfont.ttf') format('truetype'),
         url('fonts/Surface_Medium-webfont.svg#surfacemedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	font-family: sans-serif;
    width: 100%;
    text-align: center;
    color: #2a2a2a;
}

h1{
    color: #ff8900;
    font-size: 400%;
    margin-top: 5px;
    margin-bottom: 40px;
    font-family: 'Good Dog';
}

#sort-by{
    display: none;
    margin-top: 5px;
    margin-bottom: 13px;
}

#results{
    margin: auto;
    width: 60%;
}

#search-bar{
    margin-bottom: 20px;
}

.votes, .createDate{
    float: right;
    clear: right;
    width: 10%;
    margin-left: 20px;
    font-size: 90%;
    margin-top: 3px;
    margin-bottom: 7px;
    color: #8b8b8b;
    text-align: left;
}

.story{
/*	background-color: #ddd;*/
    border: 1px solid #f48300;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #ffe6c9;
    padding: 15px;
	clear: both;
    margin-bottom: 15px;
    overflow: auto;
}

input:focus{
    outline-color: #ffa236;
}

.description{
    padding: 0 15px;
}

.cover{
	float: left;
    margin-top: 7px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#synonyms{
    width: 60%;
    margin: auto;
    height: auto;
    
}

#synonyms ul{
    padding: 0;
}

#synonyms ul li{
    display: inline-block;
    margin-right: 10px;
}

.synonym{
    cursor: pointer;
}

.synonym:hover{
    text-decoration: underline;
}

.selected{
    color: #f48300;
}

.long{
    display: none;
}

.more-less{
    color: #f48300;
/*    font-weight: bold;*/
    font-style: italic;
    cursor: pointer;
}

#spinner{
    display: none;
    margin-top: 40px;
}

.title, a{
    color: #ff8900;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 140%;
    text-decoration: none;
    font-family: 'Surface';
}

.author{
    margin-top: 5px;
    font-style: italic;
}

#top-link{
    position: fixed;
    right: 10%;
    bottom: 15px;
}

#top-link a{
    font-weight: normal;
    background-color: #ffedd9;
    padding: 7px 20px;
    border-radius: 20px;
    font-style: italic;
}